@import '../../vars.css';

.notification-card {
    box-shadow: 0 0 5px var(--secondary);
    width: 400px;
    padding: 1rem;
    margin-left: -1000px;
    transition: margin-left 400ms ease-in-out;
    position: fixed;
    bottom: 5rem;
    background-color: white;
    z-index: 1000;
}

.notification-title {
   color: var(--primary);
}