@import '../../vars.css';

.main-options-container {
    display: flex;
    gap: 1rem;
}

.content-container {
    padding-block-start: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.content-container h1 {
    margin: 1rem;
}

.container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: min(90%, 1400px);
}

.column {
    border-radius: .3rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    flex-basis: 325px;
    position: relative;
    margin-inline: auto;
    background-color: white;
}

.column .header {
    background-color: var(--primary);
}

.column h2 {
    text-align: center;
    color: white;
    padding-block: 0.5rem;
    margin-inline: 2rem;
}

.column_button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.5rem;
    margin: 0.25rem;
}

.column_icon {
    font-size: 1rem;
    color: white;
    pointer-events: none;
}

.column p {
    padding: 0.5rem;
}

.options_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0rem;
    top: -2.5rem;
    color: white;
    box-shadow: 0 0 4px black;
    z-index: 10;
}

.options_container > button {
    padding: 0.5rem;
    cursor: pointer;
}

.options_container > * > svg {pointer-events: none;}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding-inline: 1rem;
    gap: 1rem;
}

.column:hover .add-task-button,
.add-task-button:focus {
    opacity: 1;
}


/* Hide add button when hovering on delete button */
.options_container:hover ~ div>.add-task-button  {
    opacity: 0;
}

.task-container h3 {
    padding: 1rem;
}

.add-task-button {
    font-size: 1.5em;
    color: var(--accent);
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    background-color: transparent;
    border: none;
    margin-block-end: 1rem;
}

.add-task-button >svg {
    pointer-events: none;
}

.modal-close-button {
    border: none;
    background: transparent;
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0;
}

.modal-close-button > * {
    color: #777;
    font-size: larger;
    pointer-events: none;
}

.add-form-modal {
    width: min(275px, 90%);
}

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--secondary);
    color: white;
}

.form-header h2 {
    text-align: center;
}

.form-header > svg {
    font-size: 1.5rem;
}

.form-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.add-form > div:last-of-type,
.add-task-form div:last-of-type {
    background-color: #1112;
    width: 100%;
}

.add-task-header {
    background-color: var(--secondary);
    color: white;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.add-task-header h2 {
    text-align: center;
}

.add-task-content {
    padding: 1rem;
}

.add-task-form > div {
    display: flex;
    justify-content: center;
}

.add-task-form div:first-child,
.add-task-form div:last-child {
    padding: 1rem;
    align-items: center;
}

.add-task-form div:last-child {
    padding: 0.5rem;
}

.add-task-form textarea {
    resize: none;
    font-size: 1.25rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.modal-icon {
    font-size: 2rem;
}